@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

@import 'components/hole.css';
@import 'components/mole.css';
@import 'components/scoreboard.css';
@import 'components/timer.css';
@import 'components/button.css';

html {
  box-sizing: border-box;
  font-size: 10px;
  /* background: #17b978; */
  background: url('../images/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
  /* font-family: 'Special Elite', cursive; */
  font-family: 'Federant', cursive;
  color: #4c221b;
}

.game {
  cursor: crosshair;
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hide {
  display: none;
}

.start-page, .end-page {
  margin-top: 170px;
}

.cursor {
  position: absolute;
  cursor: crosshair;
  -webkit-transition: transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out;
  transform-origin: bottom right;
  z-index: 3;
  user-select: none;
}

.cursor-clicked {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#boss1 {
  -webkit-animation-delay: -3s;
}

.boss img {
  position: absolute;
  height: 100%;
  top: -3%;
  left: 26%;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}


:root {
  --animate-duration: 20s;
  --animate-delay: 0s;
}

