@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

@import 'components/hole.css';
@import 'components/mole.css';
@import 'components/scoreboard.css';
@import 'components/timer.css';
@import 'components/button.css';

html {
  box-sizing: border-box;
  font-size: 10px;
  /* background: #17b978; */
  background: url('../images/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
  /* font-family: 'Special Elite', cursive; */
  font-family: 'Federant', cursive;
  color: #4c221b;
}

.game {
  cursor: crosshair;
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hide {
  display: none;
}

.start-page,
.end-page {
  margin-top: 170px;
}

.cursor {
  position: absolute;
  cursor: crosshair;
  -webkit-transition: transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out;
  transform-origin: bottom right;
  z-index: 3;
  user-select: none;
  pointer-events: none;
}

.cursor-clicked {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

:root {
  --animate-duration: 20s;
  --animate-delay: 0s;
}

/* For warning */
.warning {
  position: absolute;
  top: 20%;
  left: 4%;
  width: 96%;
}

/* Moles coming at you */
.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 40s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  /*   50% {
    transform: scale(1.5, 1.5);
  } */
  100% {
    transform: scale(10, 10);
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

.animate__animated.animate__fadeOut {
  --animate-duration: 1s;
}

.boss-page-inst {
  position: absolute;
  font-size: 30px;
  width: 50%;
  color: red;
  user-select: none;
}
