@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,100,200,800,900);

.score,
.final-score {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  flex: 0 0 50%;
  user-select: none;
  pointer-events: none;
}

.final-score {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  width: 90px;
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
  flex: 0 0 50%;
  user-select: none;
  pointer-events: none;
}

.add-points {
  font-size: 220px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-left: 20px;
  position: absolute;
  left: 38%;
  top: 35%;
  z-index: 2;
  /* color: #ffa45c; */
  color: #ff6262d1;
  user-select: none;
  pointer-events: none;
}
